[defaults]
inventory = inventory/hosts.yml
roles_path = roles
collections_path = .ansible/collections
host_key_checking = False
# replaces: stdout_callback = yaml
callback_result_format = yaml
interpreter_python = auto_silent
nocows = True
vars_plugins_enabled = host_group_vars,community.sops.sops

[diff]
always = True
context = 3
